.paycard{
   
    width: 200px;
    position: static;
}


.linkPay{
  
    font-size: 12px;

} 




.footer{
background: rgb(172, 255, 47);
}

.green{
    --tw-bg-opacity: 0.4;
    background-color: rgb(34 197 94   / var(--tw-bg-opacity, 0.4));  
}


.bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1));
}

.ex{
    font-size: 60px;
}

.okbtn{
    width: 60px;
    
}